html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: rgb(3 3 13);
}
header{
    position: absolute;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}
.nav{
    position: sticky;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    color: aliceblue;
    padding:.2rem;
    margin:2rem;
    font-size: 2.5rem;
}
.nav a{
    margin:auto;
    transition: .3s;
    text-decoration: none;
    color: aqua;
}
.nav a span{
    position: absolute;
    z-index: -1;
    background-color: aqua;
    color: black;
    border: 0.1rem solid rgb(0, 0, 0);
    border-radius: 79%;
    width: 2rem;
    height: 76%;
    margin-left:1.3rem;
    /* top: 0rem; */
    /* left: 0rem; */
    transform: scale(0);
    transition: 0.5s;
}
.nav a:hover span{
    transform: scale(1);
}
.parallax{
    display: flex;
    margin:0;
    padding: 0;
    /* flex-direction: column; */
    position: relative;
    justify-content: center;
    align-items: center;
    background: url("background.png") no-repeat;
    height: 117vh;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.parallax img{
    position: absolute;
    top:0;
    left:0;
    pointer-events: none;
    width:100%;
}
.leftg{
    position: fixed;
    transform: translateX(-175px);
}
.rightg{
    position: fixed;
    transform: translateX(302px);
}
.text{
    position: absolute;
    font-size: 10rem;
    color: aqua;
    z-index: 2;
    text-transform: capitalize;
    font-family: 'Tilt Neon', cursive;
}
.about{
    border:.2rem solid white;
    margin:20rem;
    z-index: 3;
}
.a{
    margin:2rem auto;
    text-align: center;
    font-size: 5rem;
    text-transform: capitalize;
    color:aqua
}
.aa{
    font-size: 3rem;
    color:white;
}